.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section_no-padding-top {
    padding-top: 0;
}

.section_other-bg {
    background-color: var(--secondary-bg-color);
}

.section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}